* text eol=crlf
*.exe binary
*.dll binary
*.zip binary
*.res binary
*.gif binary
*.bin binary
*.ico binary
*.png binary
*.bat linguist-language=Text
*.h linguist-language=Text
*.inc linguist-language=Assembly
*.asm linguist-language=Assembly
