#define MANIFEST 24
#define IDR_MANIFEST 1
#define IDD_DLG 1000
#define COPIR_STC 1111
#define FILE_GRP 2222
#define FILE_EDT 1001
#define CRC32_STC 1211
#define MD5_1_STC 1311
#define MD5_2_STC 1411
#define MD5_3_STC 1511
#define MD5_4_STC 1611
#define CRC32_EDT 1002
#define MD5_1_EDT 1003
#define MD5_2_EDT 1004
#define MD5_3_EDT 1005
#define MD5_4_EDT 1006
#define IMPDATA_GRP 2422
#define CRCBASE_STC 1991
#define MD5BASE_STC 1921
#define CRC_BASE_EDT 1010
#define MD5_BASE_EDT 1011
#define ECDSA_STC 1998
#define ECDSA_EDT 1012
#define INLINE_BTN 1013
#define BACKUP_CHK 1015

#include "Resource.h"

IDR_MANIFEST MANIFEST "manifest.xml"

100 ICON DISCARDABLE "MAINICON.ico"
101 RCDATA DISCARDABLE "getinfodll.gif"
102 RCDATA DISCARDABLE "getinfoexe.gif"
103 RCDATA DISCARDABLE "inline64.bin"

IDD_DLG DIALOGEX 0,0,207,134
CAPTION "IDD_DLG"
FONT 8,"Segoe UI",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER|DS_SHELLFONT|DS_3DLOOK
EXSTYLE WS_EX_ACCEPTFILES|WS_EX_TOPMOST
BEGIN
  CONTROL "© 2001-2020 OnLyOnE, aLL rIGHTS rEVERSED",COPIR_STC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_DISABLED|SS_CENTER,25,123,156,9
  CONTROL "File Name:",FILE_GRP,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,6,3,195,28
  CONTROL "",FILE_EDT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,12,12,184,12,WS_EX_CLIENTEDGE
  CONTROL "CRC32 :",CRC32_STC,"Static",WS_CHILDWINDOW|WS_VISIBLE,12,45,26,9
  CONTROL "MD5 1 :",MD5_1_STC,"Static",WS_CHILDWINDOW|WS_VISIBLE,12,60,26,9
  CONTROL "MD5 2 :",MD5_2_STC,"Static",WS_CHILDWINDOW|WS_VISIBLE,12,75,26,9
  CONTROL "MD5 3 :",MD5_3_STC,"Static",WS_CHILDWINDOW|WS_VISIBLE,12,90,26,9
  CONTROL "MD5 4 :",MD5_4_STC,"Static",WS_CHILDWINDOW|WS_VISIBLE,12,104,26,9
  CONTROL "",CRC32_EDT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_CENTER,39,43,50,12,WS_EX_CLIENTEDGE
  CONTROL "",MD5_1_EDT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_CENTER,39,58,50,12,WS_EX_CLIENTEDGE
  CONTROL "",MD5_2_EDT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_CENTER,39,73,50,12,WS_EX_CLIENTEDGE
  CONTROL "",MD5_3_EDT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_CENTER,39,88,50,12,WS_EX_CLIENTEDGE
  CONTROL "",MD5_4_EDT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_CENTER,39,103,50,12,WS_EX_CLIENTEDGE
  CONTROL "Important Data And Actions:",IMPDATA_GRP,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,6,33,195,88
  CONTROL "CRC Base :",CRCBASE_STC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTER,106,45,38,9
  CONTROL "MD5 Base :",MD5BASE_STC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTER,106,59,38,9
  CONTROL "",CRC_BASE_EDT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_CENTER,146,43,50,12,WS_EX_CLIENTEDGE
  CONTROL "",MD5_BASE_EDT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_CENTER,146,58,50,12,WS_EX_CLIENTEDGE
  CONTROL "ECDSA Verify :",ECDSA_STC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTER,96,74,48,9
  CONTROL "",ECDSA_EDT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_CENTER,146,73,50,12,WS_EX_CLIENTEDGE
  CONTROL "Inline!",INLINE_BTN,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,96,101,100,14
  CONTROL "BackUp",BACKUP_CHK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_RIGHT|BS_RIGHTBUTTON|BS_AUTOCHECKBOX,159,89,36,9
END

